.movie-wrapper {
    display: flex;
    margin: 15px;
    background: #fff;
    text-decoration: none;
    color: #111;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.movie-wrapper:hover {
    background: rgb(255, 249, 249);
}

.movie-image {
    height: 140px;
    width: 120px;
    margin-top: 18px;
    margin-left: 20px;
    border-radius: 10px;
}

.info_date {
    width: 80%;
    margin: auto;
}

.movie-info {
    margin: auto;
}

.movie-overview {
    margin: 5px 0;
    font-size: 15px;
}

.date-wrapper {
    display: flex;
}

.date-wrapper>p {
    color: rgb(230, 222, 222);
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .info_date {
        width: 70%;
    }
}
@media only screen and (max-width: 600px) and (min-width: 200px) {
    .info_date {
        width: 60%;
    }
    
    .movie-info>h2 {
        font-size: 15px;
    }
    
    .movie-image {
        height: 130px;
        width: 100px;
    }
    
    .movie-overview {
        font-size: 13px;
    }
    
    .date-wrapper {
        display: none;
    }
}