.homemovies-wrapper {
  margin: 10px;
}
.homemovies-wrapper > h4 {
  width: 250px;
}
.img-wrap {
  height: 260px;
  width: 250px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.category-img {
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.category-img:hover {
  transform: scale(1.2);
}
.home-movies {
  display: flex;
  justify-content: center;
}
.home-comingsoon {
  text-align: center;
}
