body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-ser;
  background: #f5f6f9;
}
.loading {
  font-size: 50px;
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loading-icon {
  animation: load 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes load {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.link {
  text-decoration: none;
  color: #0365f4;
  font-weight: bold;
}
.link:hover {
  color: #3e84ec;
}
.movies-homepage > h3 {
  margin: 60px auto 30px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #0365f4;
  font-weight: bold;
}
.category-viewall {
  display: flex;
  width: 83%;
  justify-content: space-between;
  margin: 15px auto 0;
}
.category-component {
  margin-bottom: 30px;
}
.movie-row {
  margin-bottom: 30px;
}
.tvshows {
  font-size: 50px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
