body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-ser;
  background: #f5f6f9;
}
.loading {
  font-size: 50px;
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loading-icon {
  animation: load 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes load {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.home-comingsoon {
  text-align: center;
}
.tvshows {
  font-size: 50px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
