.pr-container {
    display: flex;
    flex-wrap: wrap;
}

.company-flag {
    padding: 0 5px;
    display: flex;
}

.country-flag {
    width: 30px;
    height: 30px;
    display: flex;
}

.line {
    height: 1px;
    background: #e5e7eb;
    width: 100%;
}
.detail-wrapper,.vote-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) and (min-width: 200px) {
    .vote-wrapper {
        flex-direction: column;
        height: 30px;
        justify-content: space-between;
    }
}